* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #aaa;
  font-size: 25px;
}

h2 {
    color: red;
    text-align: center;
}

label {
     /*font-size: 19px;*/
    color: blue;
    font-weight: 550;
}

.container {
  text-align: center;
}

.footer {
  color: yellow;
  text-align: center;
  margin-top: 500px;
  font-size: 10px;
}
